# Python Virtual Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc

# IDEs and OS Files
.DS_Store
.idea/
.vscode/

# Audio Data and Vectors
babyslakh_16k/
dataset_pairs.csv

# PyTorch Weights
*.pth

# Temporary Files
scratch/
*.pt

# demo-generated audio
test_loops/
